{% extends "base.html" %}
{% load i18n static %}

{% block title %} {% trans "Home" %} {% endblock %}

{% block navbar %}{{ block.super }}{% endblock %}

{% block content %}

    <main role="main">

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">{% block h1 %}{% trans "Star Wars movies" %}{% endblock %}</h1>
                <p>
                    {% blocktrans %}This is a website with information about Star Wars movies and characters{% endblocktrans %}
                </p>
            </div>
        </div>

        <div class="container carouselContainer">
            <div id="carousel-sw-movies" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for film in request.films %}
                        <li data-target="#carousel-sw-movies" data-slide-to="0"
                            {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for film in request.films %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img class="d-block w-100"
                                 src="{{ film.image.url }}"
                                 alt="First slide">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel-sw-movies" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">{% trans "Previous" %}</span>
                </a>
                <a class="carousel-control-next" href="#carousel-sw-movies" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">{% trans "Next" %}</span>
                </a>
            </div>
        </div>

    </main>

    {% block navigation_history %}{% endblock %}

{% endblock %}